

<h1> DISCUSSIONS LISTING PAGE : </h1>

<div class="container-fluid">
  <div class="row">
  
    <div class="col-8 ">
        <%= render 'home_post' %>
    </div>

    <div class="col-4 ">
        <h1>&ensp;<%= link_to 'CHANNELS :', channels_path %></h1>
            <ul>
                <% @channels.each do |channel| %>
                    <li>
                        <%= link_to channel.channel_name,channel_path(channel)  %>
                    </li>
                <% end %>
            <ul>            
    </div>

  </div>
</div>